<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/header') -%>
  </head>
  <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="/">KingsRoyale</a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/staff">Staff</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Tasks
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/tasks/designer">Designer</a>
            <a class="dropdown-item" href="/tasks/developer">Developer</a>
            <a class="dropdown-item" href="/tasks/artist">Artist</a>
          </div>
        </li>
      </ul>
    </nav>

    <div class="container mx-auto mt-5">
      <div class="card">
        <div class="card-header">
          STAFF
        </div>
        <div class="card-body">

          <div class="row justify-content-center">

            <div class="col-sm-6 mt-3">
              <div class="p-3 border-executive">
                <h1 class="title-staff mb-1 pb-2">Flaymed</h1>
                Rank: EXECUTIVE
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </body>

  <%- include('../partials/footer') -%>
  <script>

  window.addEventListener("load", function(event) {
    getStaff();
  })

  </script>

</html>
