<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/header') -%>
  </head>
  <body>

    <div class="row justify-content-center">
      <div class="col-sm-4 border">

        <div class="title title-task text-center mb-3 not-started">
          Not Started
        </div>

        <ul class="tasks" id="notstarted">

        </ul>

      </div>

      <div class="col-sm-4 border">

        <div class="title title-task text-center mb-3 in-progress">
          In Progress
        </div>

        <ul class="tasks" id="inprogress">

        </ul>

      </div>

      <div class="col-sm-4 border">

        <div class="title title-task text-center mb-3 complete">
          Finished
        </div>

        <ul class="tasks" id="finished">

        </ul>

      </div>

    </div>

    <button class="btn btn-success ml-5 mt-5" data-toggle="modal" data-target="#newTask">New Task</button>

    <!-- The Modal -->
    <div class="modal fade" id="newTask">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">New Task</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form method="post" action="/api/tasks/create/<%- rank %>">
              <input class="input" name="task[name]" placeholder="Name">
              <input class="input input-long" name="task[desc]" placeholder="Description">
              <input class="btn btn-success ml-2" type="submit" value="Create">
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>

  </body>
  <%- include('../partials/footer') -%>

  <script>

  window.addEventListener('load', function(event) {
    getServerTasks("<%- rank %>");
  })

  </script>


</html>
