<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/header') -%>
  </head>
  <body>

    <div class="row justify-content-center">
      <div class="col-sm-4">

        <div class="title title-task text-center mb-3 not-started">
          Not Started
        </div>

        <ul class="tasks">
          <li class="task-item">Engine</li>
        </ul>

      </div>

      <div class="col-sm-4">

        <div class="title title-task text-center mb-3 in-progress">
          In Progress
        </div>

        <ul class="tasks">
          <li class="task-item">Engine</li>
        </ul>

      </div>

      <div class="col-sm-4">

        <div class="title title-task text-center mb-3 complete">
          Finished
        </div>

        <ul class="tasks">
          <li class="task-item">Engine</li>
        </ul>

      </div>

    </div>

  </body>

  <%- include('../partials/footer') -%>


</html>
